#root {
    height: 100vh;
}

html {
    height: 100%;
}

/* ----------------------------- Top-Level Setup ---------------------------- */
#root {
    height: 100vh;
}

html {
    height: 100%;
}

/* ----------------------------- Top-Level Setup ---------------------------- */
.container-primary {
    width: 100%;
    height: 100%;
    padding: 0 24px;
}

.container-secondary {
    width: 100%;
    height: 100%;
    display: flex;
}


.modal-input {
    width: 100%;
}

.login-modal {
    width: 350px;
}

.signup-modal {
    width: 375px;
}

.modal-col-gap{
    column-gap: 24px;
}

.modal-button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.modal-spacer {
    height: 24px;
}

.main-login-modal {
    padding: 24px 24px 0px 24px;
}

.modal-error {
    height: 24px;
    align-items: center;
    display: flex;
}

.delete-modal {
    width: fit-content;
}
.fa-globe-americas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.icon-container{
    text-align: center;
    font-size: 3em;
    height:100%;
}
#welcome-msg {
    font-size:.75em;

}
#createAccount, #editAccount{
    margin-right: 10px;
}
#loginButton, #logoutButton{
    margin-left: 10px;
}
#logoButton{
    height: 85%;
}
.table-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
}

.map-table-card {
    display: flex;
    //float: left;
    width: 100%;
    flex-direction: column;
    //align-items: center;
}

.table-entries {
    overflow-y: scroll;
}

.table-header {
    width: calc(100% - 56px);
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 32px;
}

.table-header-section {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 12px;
}

.table-header-button {
    padding: 0;
    margin-left: 36px;
}

.table-header-button-disabled{
    padding: 0;
    margin-left: 12px;
    cursor: default;
}

.table-header-buttons {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

.table-entry-buttons {
    padding: 0;
    margin-left: 36px;
    // margin-right: 18px;
}

.table-entry-buttons-disabled {
    padding: 0;
    margin-left: 36px;
}
.map-table-card{
    width: 100%;
}
.map-table-content,.map-table-header{
    width: 65%;
    margin-left: 5%;
}
.map-table-media{
    float: right;
    margin-right: 12%;
}

